.guitar {
  height: 300px;
  width: 338px;
  background-color: rgb(66, 35, 0);
  border-radius: 50%;
  display: inline-block;
  border: 8px solid #ffc023;
  padding-top: 65px;
}

.string {
  background-color: rgb(194, 129, 32);
  height: 8px;
  width: 232%;
  margin-left: -223px;
}
