.pendel {
  width: 20px;
  transform-origin: 50% 100%;
}

.animation {
  animation: 1000ms metronome-spin infinite linear alternate;
}

@keyframes metronome-spin {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(-30deg);
  }
}

.metronome label {
  font-size: 14px;
  padding: 5px;
}

.metronome button {
  padding: 5px;
  margin: 20px;
}
